* {
  margin: 0;
  box-sizing: border-box;
  font-size: 0;
}

.parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  height: 100vh;
}

.child {
  flex: 1;
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid green;
}
