body {
  background-image: url(./air.jpg);
  text-align: center;
}

input {
  margin: 20px 20px;
  padding: 10px 10px;
  font-size: 22px;
}

.form {
    display: inline-block;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 55%;
    background-color: olive;
}

h1 {
  color: red;

}

option {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: navy;
  margin: 10px 10px;
}