h1 {
  color: darkgreen;
  font-size: 45px;
  text-align: center;
  margin: 30px;

}

h2 {
  text-align: center;
  margin: auto;
}

img {
  float: left;
  padding 30px 30px;
  width: 30%;
}

div {
  text-align: left;
  line-height: 25px;
  margin: auto;
  padding: 40px;
}

ul {
  overflow: hidden;
}

.main {
  margin: 100px 20px;
  background-color: lightgray;
}
