header {
  font-family: "Times New Roman", Times, serif;
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  font-stretch: ultra-expande;
}

.date {
  font-family: Copperplate;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  display: block;
  font-size: 30px;
}

.mainimg {
  width: 40%;
  position: absolute;
  top: 210px;
  left: 500px;
}

.mainarticle {
  font-family: Cambria;
  font-size: 30px;
  width: 50%;
  position: absolute;
  top: 800px;
  left: 450px;
}

.leftarticle {
  width: 25%;
  float: left;
}

.rightarticle {
  width: 25%;
  float: right;
}

.card {
  box-shadow: 0 3px 5px blue;
  background-color: lightseagreen;
  display: grid;
}

.card-container {

  width: 30%;
  
}

.card-title {
  font-size: 30px;
  padding: 10px 10px;
  margin: 10px 10px;
}

.card-description {
  padding: 1.2rem;
  line-height: 1.6em;
}

.button {
  display: block;
  background-color: rgb(66, 66, 6);
  padding: 10px 20px;
  color: goldenrod;
  text-align: center;
  transition: 300ms ease-out;
  text-decoration: none;
}

