* {
  text-align: center;
  margin: 0%;
}

body {
}

#calc {
  display: inline-block;
  justify-content: start;
  background-color: blueviolet;
  color: tan;
  width: 50%;
}

button {
  background-color: silver;
  padding: 20px 20px;
  margin: 20px 20px;
  text-align: center;
  font-size: 30px;
  color: red
  
}

#add {
}

#sub {
}

#mul {
}

#divide {
} 


